@font-face {
	font-family: 'robotoregular';
	src: url('../font/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: robotoregular, sans-serif;
  font-size: 0.875rem;
  padding: 2rem;
}

button {
  margin-right: 0.625rem;
}

h1 {
  margin-top: 3.25rem;
}

input {
  width: 14.375rem;
}