@font-face {
	font-family: 'robotoregular';
	src: url('../font/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#target {
  text-align: center;
}

body {
  font-family: robotoregular, sans-serif;
  font-size: 0.875rem;
  padding: 2rem;
}

#container {
  font-size: 2rem;
  padding: 1rem;
  background-color: #696969;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  width: 27rem;
  text-align: center;
  height: 3.6875rem;
}

#container > div {
  height: 3.6875rem;
}
