@font-face {
	font-family: 'robotoregular';
	src: url('../font/Roboto-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: robotoregular, sans-serif;
  padding: 2rem;
  font-weight: 200;
}

span {
  padding: 1rem;
  border: 0.0625rem solid #000000;
  border-radius: 0.1875rem;
}